//fonts
$title: 'Raleway', Sans-Serif;
$content: 'Open Sans', Sans-Serif;


//colors
$background-color: hsl(228, 8%, 87%);
$text-color: hsl(230, 7%, 36%);
$accent: hsl(219, 88%, 59%);
$accent-2: hsl(224, 10%, 77%);


h1 {
  padding: 1rem;
  margin-bottom: 0;
}

h1, h2, h3 {
  font-family: $title;
}

h3 {
  color: white;
}

body {
  margin: 1rem;
  font-family: $content;  
  background-color: $background-color;
}

.row {
  --bs-gutter-x: 1.5rem;
  margin-left: 0;
}

.btn-primary {
  color: $accent;
  background-color: $background-color;
  padding: .5rem 2rem;
  margin: .5rem 0;
  &:hover {
    color: $accent;
    background-color: $accent-2;
  }
}

.col {
  padding: 1rem 2rem;
  background-color: $accent;
}

#editor, #preview {
  padding: .5rem;
  width: 100%;
  height: 30rem;
  background-color: white;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
}
